node_modules
.DS_Store
npm-debug.log
npm-debug.log*

config.js
spotify-tokens.json
/pid
/server.log

/components

/app/public/css
/app/public/js
!/app/public/css/.gitkeep
!/app/public/js/.gitkeep

/.tmp/**/*
