<section class="help state-content__container state-content__container--scrollable">
  <div class="help__info-text">
    <h2>What would you like to happen in the Zone?</h2>
    <p>
      Whenever you enter this Wifi you’ll be contributing to
      the Spotify playlist. When you leave, your songs will
      be removed.
    </p>
    <p>
      This demo, made in collaboration with Spotify, is an
      example of what can be built  with the Premium Zone
      open API.
    </p>
    <p>
      Make your service contextually aware and be part of
      the Premium Zone consumer launch. In late 2016 it will
      be available to 1,2 million Telia broadband households.
    </p>
    <p>
      What would you build?
    </p>
  </div>
</section>

<footer class="footer__container center">
  <a class="btn btn--expanded btn--learn-more" href="https://developers.premiumzone.com/" target="_blank">Learn more</a>
</footer>
