/* _buttons.scss */

/* _buttons config */

/* _buttons default */
@include layout-default {
  .btn {
    background-color: transparent;
    display: inline-block;

    &--connect-with-spotify {
      @include font-size(13px);
      padding: 15px 30px 15px 55px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 25px;
      background-color: $color-spotify-green;
      background-image: url('data:image/svg+xml;utf8,<svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><title>Spotify</title><path d="M10.3.35c-5.5 0-10 4.5-10 10s4.5 10 10 10 10-4.5 10-10-4.5-10-10-10zm4.55 14.45c-.2.3-.55.4-.85.2-2.35-1.45-5.3-1.75-8.8-.95-.35.1-.65-.15-.75-.45-.1-.35.15-.65.45-.75 3.8-.85 7.1-.5 9.7 1.1.35.15.45.55.25.85zm1.25-2.75c-.25.35-.7.5-1.05.25-2.7-1.65-6.8-2.15-9.95-1.15-.4.1-.85-.1-.95-.5-.1-.4.1-.85.5-.95 3.65-1.1 8.15-.55 11.25 1.35.3.15.4.65.2 1zm.1-2.8C13 7.35 7.65 7.15 4.6 8.1c-.5.15-1-.15-1.15-.6-.15-.5.15-1 .6-1.15 3.55-1.05 9.4-.85 13.1 1.35.45.25.6.85.35 1.3-.3.35-.85.5-1.3.25z" fill="white" fill-rule="evenodd"/></svg>');
      background-repeat: no-repeat;
      background-position: 1.5rem center;
    }

    &--blank {
      padding: 15px;
      border-radius: none;
    }

    &--expanded {
      width: 100%;
      border-radius: 0;
    }

    &--ok {
      @include font-size(13px);
      padding: 24px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: $color-purple;
      box-shadow: 0px -15px 40px 0px rgba(0,0,0, 0.75);
    }

    &--learn-more {
      @include font-size(13px);
      padding: 24px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: $color-purple;
      box-shadow: 0px -15px 40px 0px rgba(0,0,0, 0.75);
    }

    &--remove-song {
      position: absolute;
      top: 50%;
      right: 10px;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-indent: -999em;
      border: 2px solid $color-purple;
      border-radius: 50%;
      background-image: url('data:image/svg+xml;utf8,<svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M.342.341a1.166 1.166 0 0 0 0 1.649l8.24 8.242a1.168 1.168 0 0 0 1.65 0 1.164 1.164 0 0 0-.001-1.649L1.99.342A1.168 1.168 0 0 0 .34.341z" id="a"/></defs><g fill="%23990AE3" fill-rule="evenodd"><use xlink:href="%23a"/><path d="M8.583.343L.343 8.584a1.167 1.167 0 1 0 1.648 1.649l8.24-8.242A1.166 1.166 0 1 0 8.583.343z"/></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
      transform: translate(0, -50%);
    }

    &--close {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-indent: -999em;
      border: 1px solid white;
      background-image: url('data:image/svg+xml;utf8,<svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M.342.341a1.166 1.166 0 0 0 0 1.649l8.24 8.242a1.168 1.168 0 0 0 1.65 0 1.164 1.164 0 0 0-.001-1.649L1.99.342A1.168 1.168 0 0 0 .34.341z" id="a"/></defs><g fill="white" fill-rule="evenodd"><use xlink:href="%23a"/><path d="M8.583.343L.343 8.584a1.167 1.167 0 1 0 1.648 1.649l8.24-8.242A1.166 1.166 0 1 0 8.583.343z"/></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
    }

    img { display: block }
  }
}

/* _buttons small */
@include layout-small {

}

/* _buttons medium */
@include layout-medium {

}

/* _buttons medium-and-above */
@include layout-medium-and-above {

}

/* _buttons large */
@include layout-large {
  .btn--remove-song {
    top: initial;
    bottom: 2px;
    right: 30px;
  }
}
