<div id="bubbles__container" class="js-state-content--static state-content state-content--visible bubbles__container"></div>

<div class="js-state-content state-content"></div>

<div class="js-state-content--overlay state-content state-content--overlay"></div>

{{#if spotify_server_authorize_url}}
  <p>
    <a href="{{spotify_server_authorize_url}}">Get Spotify credentials for server</a>
  </p>
{{/if}}
