<header class="js-main-header main-header">
  <nav class="main-header__nav">
    <ul>
      <li class="main-header__nav-item">
        <button type="button" data-state="/playlist" class="icon icon--playlist">Show Playlist</button>
      </li>

      <li class="main-header__nav-item main-header__nav-item--center">
        <button type="button" data-state="/" class="btn"><img class="main-header__logo" alt="" src="/static/images/coplay-pebble.png"></button>
      </li>

      <li class="main-header__nav-item main-header__nav-item--right">
        <button type="button" data-state="/help" class="icon icon--help">Help</button>
        <button type="button" data-state="/" class="icon icon--close">Close</button>
      </li>
    </ul>
  </nav>
</header>
